
html {
    font-size: $baseline;
    color: $site-color;
    height: 100%;
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after { 
    box-sizing: inherit;
}

body {
    background: $site-background;
    line-height: 1.5;

    text-transform: none;
    text-decoration: none;
    text-align: left;

    word-wrap: normal;

    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    color: $site-color;

    font-family: $base-font;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
