.list {
    list-style: none;
    overflow: hidden;
    &.bulleted {
        .list-item {
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}

.list-item {
	font-size: 1em;
	margin-bottom: $spacing;	
  @include breakpoint(phablet) { font-size: 1.3em;}
}

.list-inline {
	@extend .list;
	.list-item, li {
		float: left;
		padding: 0 $spacing 0 0;
		margin-bottom: 0;
	}
}

