.data-section { padding: 2rem 0 12rem; }
.data-wrapper {

  img { display: block; width: 100%; margin: 0 auto;}

  .data-list-wrap {
    & > .list { 
      padding-top: 1rem;
      transition: all .2s ease;

      opacity: 0;
      max-height: 0;

      &.show { opacity: 1; max-height: 100%;}
      .list-item { margin-bottom: 0; }
    }
  }

  .heading { font-size: 2.5em; }
  .heading-sub { 
    padding-top: 3rem;
    font-family: $light; 
    font-size: 2em;
  }
  .heading-em { 
    font-family: $light-italic; 
    font-size: 1rem; 
  }
}
