.nav-wrapper {
  max-width: 100%;
  width: 100%;
  height: 100%;

  padding-left: 10%;
  padding-top: 2rem;
  background-color: darken(white, 40%);

  position: fixed;
  left: 0;
  bottom: 0;

  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;

  transition: transform .5s ease;
  transform: translate3d(0,100%,0);

  @include breakpoint(laptop) {
    height: 6em;
  }

  &.show { transform: translate3d(0,0,0);}
}
.nav {

  &.row {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-item { 
    display: block;
    border-bottom: 1px solid rgba(grey, .6);
    padding-bottom: 2em;
    padding-top: 2em;
    &:last-child {border-bottom: 0; padding-bottom: 0}
     @include breakpoint(laptop) {
      border-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
    } 
  }

  .nav-link {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: lighten($site-hover, 30%);

    transition: color .2s ease;
    
    &.on, &:hover{ color: darken($site-dark-gray, 25%);}
  }
}